/* css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root {
	--main-background: #212529;
	--main-fonts-color: #ffff;
	--main-decor-color: #00bbf9;
	--main-header-background: #21252e;
	--main-font-family: 'Poppins', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

h3 {
	padding-bottom: 15px;
	letter-spacing: normal;
	font-family: var(--main-font-family);
	font-style: normal;
	font-size: 60px;
	color: #ffff;
	text-shadow: 0px 0px 40px #ffa260;
}

main {
	padding: 0;
	background: var(--main-background);
	color: #ffff;
	font-family: Poppins;
	text-align: center;
}

header {
	background-color: var(--main-background);
	text-align: center;
	/* padding-right: 100px; */
}

header:hover {
	background-color: #495057;
}

.nav-bar {
	list-style: none;
	position: relative;
	display: inline-flex;
	margin: 15px;
}

a.nav-link {
	margin: 5px;
	padding: 5px 10px;
	color: var(--main-decor-color);
	padding: 8px;
	width: 50px;
	height: 70px;
	text-decoration: none;
}

#home {
	/* height: 100vh; */
	justify-content: space-evenly;
	font-size: 20px;

}

#home a {
	color: gold;
}

#home img {
	width: 25%;
	border-radius: 50%
}

.intro {
	text-align: center;
	z-index: 1;
	margin: auto;
	padding: 60px;
}

.intro p {
	text-align: center;
}

.intro span {
	color: #ffa260;
}

hr {
	background: #ffa260;
	margin: 2px;
	height: 3px;
	width: 200px;
	border-radius: 5px;
	border: hidden;
	margin-inline-start: auto;
	margin-inline-end: auto;
}

#info {
	background-color: #343a40;
	padding: 30px;
}

#projects {
	background-color: #212529;
	padding: 30px;
}

#contact {
	background-color: #343a40;
	padding: 30px;
}

button {
	font-family: 'Roboto', sans-serif;
	size: 15px;
	background: none;
	color: #ffa260;
	border: 3px solid;
	padding: 1em 2em;
	transition: color 0.25s, border-color 0.25s, box-shadow 0.25s, transform 0.25s;
}

button:hover {
	border-color: #f1ff5c;
	color: white;
	box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
	transform: translateY(-0.25em);
	cursor: pointer;

}